@import url('http://fonts.cdnfonts.com/css/montage-2');



.cards {
    flex: 0 1 18%;
    margin: 20px 10px;
    /* cursor: pointer; */
    box-shadow: 0 0 15px 10px pink;
    text-shadow: 0 0 10px white;
    transition: 300ms;
}

.cards:hover {
    z-index: 1;
    transform: scale(1.1);
}

.cards img {
    box-shadow: 0 0 20px pink;
}

.card_text {
    font-family: 'Montage', sans-serif;
}

.more {
    background-color: rgba(99, 99, 255, 0.653);
    text-decoration: none;
}

.more_text {
    color: white;
}